body{
    margin: 0px;
    padding: 0px;
    background-color: #bdddfc;
}

#navbar{
    background-color: #6a89a7;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}
#h11{
    display: flex;
    height: 5em;
    width: fit-content;
}
h1{
    font-family: "Condiment", cursive;
    font-size: 3em;
    padding-left: 0.2em;
    color: #384959;
    padding-top: 0.3em;
    letter-spacing: 2px;
    margin: 0px;
}
#logo{
    align-content: center;
    padding-left: 50px;
}
#img{
    height: 2em;
    width: auto;
    margin-right: -2em;
}
#navbar div{
    background-color: #6a89a7;
    padding-right: 2em;
}
#ndiv #at{
    color: #384959;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #6a89a7;
    font-size: 1.4em;
}
#ndiv #option img{
    display: none;
}
#ndiv a:hover{
    color: #d7e6f4;
    text-shadow: 2px 2px  5px #d7e6f4;
    font-size:1.2em;
}
#option_list{
    display: none;
    position: absolute;
    right: 0px;
    top: 5em;
    border: 2px solid #384959;
    border-radius: 5px;
    background: none;
    width: 5em;
    padding: 2px;
}
#option_list a{
    text-decoration: none;
    color: #384959;
    background-color: #bdddfc;
    width: 100%;
    height: auto;
    display: block;
    padding: 2px;
}
#option_list a:hover{
    background-color: #d7e6f4;
    border: 1px solid black;
}

#mainbox{
    padding-top: 2rem;
    background-image: url(clock_sy.svg);
    background-position: 50% 62%;
    background-repeat: no-repeat;
    background-size: 15em;
}
.clsy,#clock{
    display: none;
}
#div1, #div2{
    display: flex;
    gap: 25%;
    justify-content: center;
    padding-top: 4em ;
    
}
h6{
    font-size: large;
    background-color: #d7e6f4;
    color: #384959;
    border-radius: 1em;
    padding: 12px;
    text-align: center;
    font-family: cursive;
    font-style: revert-layer;
    margin-top: 1.2em;
}
.task:hover,.pretask:hover,.achive:hover,.history:hover{
    box-shadow: 0px 3px 5px 2px #384959;
}
.task,.pretask,.achive,.history{
    height: 18em;
    width: 20em;
    background-color: aliceblue;
    border-radius: 2rem;
}
#new_task{
    color: #384959;
    display: flex;
    height: 5.5em;
}
#new_task p{
    padding-left: em;
    font-size: 2.5em;
    margin: 0%;
}
#bt{
    text-align: center;
    align-content: center;
    justify-self: center;
    height: 2.5em;
    width:10em;
    margin-top: 2em;
    border-radius: 2em;
    border: 0px;
    background-color:#d7e6f4;
}
#btn{
    color: #384959;
    text-decoration: none;
    width: inherit;
    display: flex;
    justify-content: center;
}
#bt:hover{
    border: #384959 solid 1px;
    background-color:#bfccd8;
    box-shadow: 0px 3px 5px 2px #bfccd8;
}

form{
    text-align: center;
    border-radius: 1rem;
    margin: 10rem 15em 1em 15em;
    background-color: aliceblue;
    padding: 2em;
}
#name,#email{
    color: #384959;
}
form input{
    border-radius: 0.3rem;
    margin-bottom:15px;
    border: 1px solid #384959;
}
#textarea{
    margin: 0px;
    padding-right: 12rem;
    color: #384959;
}
textarea{
    border: 1px solid #384959;
}
.foot{
    text-align: center;
    background-color: aliceblue;
    padding: 2em;
}
textarea{
    box-sizing: border-box;
}
#submit_btn{
    border: 1px solid #384959;
    border-radius: 5px;
    color: #384959;
    height: 30px;
    width: auto;
}
#submit_btn:hover{
    border: 1px solid #384959;
    background-color: #6a89a7;
}
@media (max-width:900px) {
    #frm textarea{
        height: 3em;
        width: 8em;
        padding-left: 0.3em;
        margin-left: -10px;
    }
    #frm #textarea{
        padding: 0px;
        justify-self: center;
    }
    form{
    text-align: center;
    border-radius: 1rem;
    margin: 10rem 5em 1em 5em;
    background-color: aliceblue;
    padding: 3em;
    }
    form label,form input, form p{
        margin-left: -2px;
        width: -webkit-fill-available;
        max-width: min-content;
    }
    h1{
        font-size: x-large;
        padding-top: 1em;
    }
    #div1,#div2{
        gap: 15%;
    }
    #ndiv #at{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    }
    .task,.pretask,.achive,.history{
    height: 15em;
    width: 13em;
    }
    #new_task p{
    font-size: 1.5em;
    margin: 0%;
    }
    #bt{
    height: 1.5em;
    width:8em;
    margin-top: 1em;
    border-radius: 2em;
    }
    h6{
    margin-bottom: 1.2em;
    }
    #logo{
        padding-left: 30px;
    }
}
@media (max-width:580px){
    #ndiv #at{
        display: none;
    }
    #ndiv #option img{
        display: block;
        height: 1.5em;
        width: auto;
    }
    #mainbox{
    background-image: none;
    }
    #logo{
        padding-left: 30px;
    }
    #clock{
    height: 10em;
    margin-top: 2em;
    }
    .clsy{
        text-align: center;
        display: block;
    }
}
@media(max-width:500px){
        #div1, #div2{
            display: block;
            justify-self: center;
            margin-bottom: 5em;
        }
        .task,.pretask,.achive,.history{
            height: 15em;
            width: 13em;
            padding-top: 0.5em;
            margin-bottom: 5em;
        }
        #div2{
            padding-top:0px;
        }
}